<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{fragments/layout}">
	<head>
		<title>Input Hasil Follow Up</title>

	</head>
	<body>
		<div data-layout-fragment="content">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">List Follow Up</h3>
					<div class="box-tools">
						<button type="button" class="btn btn-info btn-sm" id="btn-add">
							<i class="fa fa-plus"></i>
						</button>
						
						<button type="button" class="btn btn-danger btn-sm" id="btn-add2">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<!--  -->
				<form th:action="@{~/followup/save}" method="post" th:object="${followup}">
				<div class="box-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Birojasa Name</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{birojasaName}" class="form-control" disabled>
							<!-- Hideen ID, digunakan saat EDIT, jika CREATE maka akan 0 -->
							<input type="hidden" th:field="*{id}" class="form-control" />
						</div>
					</div>
					<div class="form-group">2
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Dealer Name</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{dealerName}" class="form-control" readonly>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Dealer Address</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{dealerAddress}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">No Rek</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{noRek}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">No Pin</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{noPin}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Nama KOnsumen</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{customerName}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Nama BPKB</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{bpkbName}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">No Rangka</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{noRangka}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">No Mesin</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{noMesin}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">CN Date</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="date" th:field="*{covernoteDate}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">status</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{status}" class="form-control">
	
							<select th:field="*{status}" class="form-control">
								<option value="bpkb&nbspbelum&nbspjadi">Bpkb Belum Jadi</option>
								<option value="bpkb&nbspjadi">Bpkb Jadi</option>
								<option value="mercedes">Mercedes</option>
								<option value="audi">Audi</option>
							</select>
	
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Tanggal Follow Up</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="date" th:field="*{tglFollowup}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Keterangan</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{keterangan}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Kategori Permassalahan</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{kategoriId}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">User ID</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" th:field="*{userId}" class="form-control">
						</div>
					</div>
					
				</div>
			</div>
			</form>
				<!--  -->

			</div>
		</div>
		
		<div class="modal fade" id="main-modal" data-layout-fragment="content-modal">
			<div class="modal-dialog">
				<div class="modal-content" id="main-modal-content">
				</div>
			</div>
		</div>
		<script data-layout-fragment="script-js">
			$("#btn-add").click(function(){
				//console.log("test");
				$.ajax({
					url:'/followup/create',
					type:'get',
					dataType:'html',
					success:function(hasil){
						$('#main-modal-content').html(hasil);
						$("#main-modal").modal("show");
					}
				});
			});
			
			$("#btn-add2").click(function(){
				//console.log("test");
				$.ajax({
					url:'/followup/input',
					type:'get',
					dataType:'html',
					success:function(hasil){
						$('#main-modal-content').html(hasil);
						$("#main-modal").modal("show");
					}
				});
			});
			
			$("#main-modal").on('submit', 'form', function(){
				var vUrl = $(this).attr('action');
				var vData = $(this).serialize();
				
				$.ajax({
					url:vUrl,
					type:'post',
					data:vData,
					dataType:'html',
					success:function(hasil){
						$('#main-modal-content').html(hasil);
						$("#main-modal").modal("hide");
						//panggil method load data
						loadData();
					}
				});
				return false;
			});
			
			function loadData(){
				$.ajax({
					url :'/followup/list',
					type:'get',
					dataType:'html',
					success:function(hasil){
						$('#list-employee').html(hasil);
					}
				});
			}
			
			$("#btn-min").click(function(){
				alert('Test Alert');
			});
			
			$("#list-employee").on('click','.btn-update', function(){
				var vId = $(this).val();
				
				$.ajax({
					url:'/followup/edit/'+ vId,
					type:'get',
					dataType:'html',
					success:function(hasil){
						$('#main-modal-content').html(hasil);
						$("#main-modal").modal('show');
					}
				});
			}).on('click','.btn-delete', function(){
				var vId = $(this).val();
				
				$.ajax({
					url:'/followup/hapus/'+ vId,
					type:'get',
					dataType:'html',
					success:function(hasil){
						$('#main-modal-content').html(hasil);
						$("#main-modal").modal('show');
					}
				});
			});		
			
			$(document).ready(function() {
				$('#mydata').DataTable();
			});
			
		</script>
	</body>
</html>