<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{fragments/layout}">
	<head>
		<title>Home Create</title>
		<link rel="stylesheet" href="@{~/datatables.net/css/1.10.10/jquery.dataTables.min.css}" />
		<script src="@{~/datatables.net/js/1.10.10/jquery-1.11.3.min.js}"></script>
		<script src="@{~/datatables.net/js/1.10.10/jquery.dataTables.min.js"></script>
	</head>
	<body>
		<div data-layout-fragment="content">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">List Kota</h3>
					<div class="box-tools">
						<button type="button" class="btn btn-info tbn-sm" id="btn-add">
							<i class="fa fa-plus"></i>
						</button>
						<button type="button" class="btn btn-success tbn-sm" id="btn-add2">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover" id="mydata">
						<thead> 
							<tr>
								<th>ID</th>
								<th>Nama Kota </th>
								<th>Nama provinsi </th>
								<th>#</th>
							</tr>
						</thead>
						<tbody id="list-kota">
							<tr th:each="item : ${list}">
								<td th:text="${item.id}"></td>
								<td th:text="${item.name}"></td>
								<td th:text="${item.provinsi.name}"></td>
								<td>
									<button type="button" class="btn btn-warning btn-update" th:value="${item.id}" >
										<i class="fa fa-edit"></i>
									</button>
									
									<button type="button" class="btn btn-danger btn-delete" th:value="${item.id}">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						</tbody>
						
					</table>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="main-modal" data-layout-fragment="content-modal">
			<div class="modal-dialog">
				<div class="modal-content" id="main-modal-content">
				
				</div>
			</div>
		</div>
		<!-- cara nampilin modal -->
		<script data-layout-fragment="script-js"> 
			$("#btn-add").click(function(){
				$.ajax({
					url:'/kota/create', 
					type:'get',
					dataType:'html',
					success:function(hasil){
						$('#main-modal-content').html(hasil);
						$("#main-modal").modal('show');
					}
				});
			});
			
			$("#main-modal").on('submit', 'form', function(){
				var vUrl = $(this).attr('action');
				var vData = $(this).serialize();
				
				$.ajax({
					url:vUrl, 
					type:'post',
					data:vData,
					dataType:'html',
					success:function(hasil){
						$('#main-modal-content').html(hasil);
						$("#main-modal").modal('hide');
						//panggil loadData
						loadData();
					}
				});
				
				return false;
			});
			
			//functionn load data 
			function loadData(){
				$.ajax({
					url:'/kota/list', 
					type:'get',
					dataType:'html',
					success:function(hasil){
						$('#list-kota').html(hasil);

					}
				});
			}
			
			//button 
			$("#list-kota").on('click','.btn-update', function(){
				var vId = $(this).val();
				
				$.ajax({
					url:'/kota/edit/'+ vId,
					type:'get',
					dataType:'html',
					success:function(hasil){
						$('#main-modal-content').html(hasil);
						$("#main-modal").modal('show');
					}
				});
			}).on('click','.btn-delete', function(){
				var vId = $(this).val();
				
				$.ajax({
					url:'/kota/hapus/'+ vId,
					type:'get',
					dataType:'html',
					success:function(hasil){
						$('#main-modal-content').html(hasil);
						$("#main-modal").modal('show');
					}
				});
			});
			
			$(document).ready(function() {
				$('#mydata').DataTable();
			});
		</script>
	</body>
</html>