<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<form th:action="@{~/employee1/remove}" method="post" th:object="${objEmployee}">
		<div class="box box-danger box-solid">
			<div class="box-header with-border">
				<h3 class="box-title">Hapus Kabupaten Kota</h3>
				<!-- Hideen ID, Hapus -->
				<input type="hidden" th:field="*{id}" class="form-control" />
			</div>
			</div>
			<div class="box-body">
				<table class="table">
					<tr>
						<th>ID<th>
						<td th:text="${objEmployee.id}"></td>
					</tr>					
					<tr>
						<th>Position<th>
						<td th:text="${objEmployee.position.position}"></td>
					</tr>
					<tr>
						<th>Cabang<th>
						<td th:text="${objEmployee.cabang2}"></td>
					</tr>
					<tr>
						<th>Regional<th>
						<td th:text="${objEmployee.regional}"></td>
					</tr>					
					<tr>
						<th>Nama<th>
						<td th:text="${objEmployee.nama}"></td>
					</tr>
					<tr>
						<th>NIP<th>
						<td th:text="${objEmployee.nip}"></td>
					</tr>				
				</table>
			</div>
			<div class="box-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-danger pull-right">Delete</button>
			</div>
	</form>
</html>