<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:action="@{~/kategori/remove}" method="POST" th:object="${kategori}">
	<div class="box box-danger box-solid">
		<div class="box-header with-border">
			<h3 class="box-title">Yakin akan menghapus data ini?</h3>
			<!-- Hideen ID, Hapus -->
			<input type="hidden" th:field="*{id}" class="form-control" />
		</div>
		<div class="box-body">
			<table class="table">
				<tr>
					<th>ID<th>
					<td th:text="${kategori.id}"></td>
				</tr>

				
				<tr>
					<th>Jenis Permasalahan<th>
					<td th:text="${kategorijenisPermasalahan}"></td>
				</tr>				
			</table>
		</div>
		<div class="box-footer">
			<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
			<button type="submit" class="btn btn-danger pull-right">Delete</button>
		</div>
	</div>
</form>
</html>